---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 140
UseTab: Never
---
Language: Cpp
AccessModifierOffset: 0
# Force pointers to the type for C++.
Standard: Latest
NamespaceIndentation: All
MaxEmptyLinesToKeep: 2
#NumericLiteralCase:
#  ExponentLetter: Lower
#  HexDigit: Upper
#  Prefix: Lower
#  Suffix: Lower
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseExpressionOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
#AllowShortNamespacesOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: true
# BinPackParameters: OnePerLine
BinPackParameters: true
BitFieldColonSpacing: After
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
BracedInitializerIndentWidth: 2
BreakAdjacentStringLiterals: true
BreakAfterAttributes: Always
BreakBeforeConceptDeclarations: Always
#BreakBeforeTemplateCloser: true
#BreakBinaryOperations: RespectPrecedence
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: true
BreakTemplateDeclarations: Yes
EmptyLineBeforeAccessModifier: LogicalBlock
#EnumTrailingComma: Remove
IndentAccessModifiers: true
IndentCaseBlocks: true
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
InsertBraces: true
IntegerLiteralSeparator:
  Binary: 4
  BinaryMinDigits: 8
  Decimal: 3
  Hex: -1
  HexMinDigits: 4
KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: false
  AtStartOfFile: false
